extends ../layouts/main.pug

block variables
	-var title = "Color Scan Hover";

block styles 
	link(rel="stylesheet", href="static/styles/hoverColorScan.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block content 

	include ../modules/homeLink.pug

	.color-scan__wrapper 
		ul
			li 
				a(href="#") 
					i.fa.fa-instagram.instagram
			li 
				a(href="#") 
					i.fa.fa-whatsapp.whatsapp
			li 
				a(href="#") 
					i.fa.fa-twitter.twitter
