extends ../layouts/main.pug

block styles 
	link(rel="stylesheet" href="static/styles/index.css")

block content
	.tiles
		.tiles__tile
			a.mainLink(href="neonMenu.html") Neon Menu
		.tiles__tile
			a.mainLink(href="#") item 2
		.tiles__tile
			a.mainLink(href="#") item 3