extends ../layouts/main.pug

block variables 
	-var title = "Index title";

block content
	.tiles
		.tiles__tile
			a(href="neonMenu.html") Neon Menu
		.tiles__tile
			a(href="#") item 2
		.tiles__tile
			a(href="#") item 3