extends ../layouts/main.pug

block variables
	-var title = "Neon Menu";

block styles 
	link(rel="stylesheet", href="static/styles/neonMenu.css")

block content 

	include ../modules/homeLink.pug

	.wrapper
		ul.neon-menu
			li.neon-menu__item.color1(style="--color:#fcba03")
				a(href="#" data-text="Home") &nbsp;Home&nbsp;
			li.neon-menu__item.color2(style="--color:#1cfc03")
				a(href="#" data-text="About") &nbsp;About&nbsp;
			li.neon-menu__item.color3(style="--color:#0330fc")
				a(href="#" data-text="Services") &nbsp;Services&nbsp;
			li.neon-menu__item.color4(style="--color:#03e3fc")
				a(href="#" data-text="Contacts") &nbsp;Contacts&nbsp;