extends ../layouts/main.pug

//- block variables

block styles 
	link(rel="stylesheet", href="static/styles/neonMenu.css")
block scripts 

block content 
	ul.neon-menu
		li.neon-menu__item1
			a(href="#" data-text="&nbsp;Home") &nbsp;Home&nbsp;
		li.neon-menu__item2
			a(href="#" data-text="&nbsp;About") &nbsp;About&nbsp;
		li.neon-menu__item3
			a(href="#" data-text="&nbsp;Services") &nbsp;Services&nbsp;
		li.neon-menu__item4
			a(href="#" data-text="&nbsp;Contacts") &nbsp;Contacts&nbsp;