@import '../helpers/_colors.scss';

$song-progress-percent: 45%; 

.content {
  width: 340px;
  height: 550px;
  background-image: url("../images/content/frostedGlass_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(34, 43, 34, 0.508);
  background-blend-mode: darken;
  background-size: cover;
  position: relative;
  color: $white;
  font-size: 1rem;
}

.player {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  inset: 50px;
  border-radius: 15px;
  border: 1px solid $white;

  p {
    margin-block: 5px;
    line-height: 18px;
  }
}

.frosted-background {
  background-color: $transparent-white;
  backdrop-filter: blur(5px);
}

.album-cover {
  width: 200px;
  height: 200px;
  background-image: url("../images/content/frostedGlass_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid $pale-black;
  margin-bottom: 15px;
}

.song-name {
  font-size: 1.2rem;
  line-height: 1.25rem;
}
.artist-name {
  font-size: 0.9rem;
  color: $mid-white;
}
.song-scroll {
  border-bottom: 3px solid $pale-white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    width: $song-progress-percent;
    height: 100%;
    inset: 0;
    border-bottom: 3px solid $white;;
  }

  &::after {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $white;
    left: $song-progress-percent;
    bottom: -4px;
  }
}

.current-time,
.total-time {
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-block-start: 10px;

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    font-size: 2rem;
  }
}
