@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@600&family=Poppins&family=Spinnaker&display=swap");
.neon-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
}
.neon-menu__item {
  position: relative;
  list-style: none;
}
.neon-menu__item a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px grey;
}
.neon-menu__item a::before {
  content: " " attr(data-text);
  position: absolute;
  color: var(--color);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 3px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
}
.neon-menu__item a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--color));
}