$main-background-dark: rgb(38, 38, 38);

$white: white;
$mid-white: rgba(255, 255, 255, 0.62);
$pale-white: rgba(255, 255, 255, 0.4);
$transparent-white: rgba(255, 255, 255, 0.2);

$black: black;
$pale-black: rgba(0, 0, 0, 0.422);